.form-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; 

}

.register-form { 
    border: 1px solid black;
    padding: 30px;
    width: 40%; 
}

.google-login-container {
    margin-bottom: 20px; 
}

.register-form button {
    width: 100%; 
}


.logo {
    display: block;
    margin: 0 auto 20px auto;
    width: 100px;
    height: auto;
  }